<div class="container">
    <div class="row">
        <div class="message-wrap col-lg-8">
            <div class="msg-wrap" id="message-area">

            </div>
            <div class="send-wrap ">
                <textarea class="form-control send-message" rows="3" placeholder="Write a reply..." id="reply"></textarea>
            </div>
            <div class="btn-panel">
                <a href="" class="col-lg-3 btn btn-success" role="button" id="send-message" style="margin-left:10px;">Send message</a>
            </div>
        </div>
    </div>
</div>