<div class="media msg "> 
    <div class="media-body">
        <small class="pull-right time">
            <i class="fa fa-clock-o"></i> <%= @message.created_at.strftime("%H:%M %p") %>
        </small>
        <h5 class="media-heading"><%= @message.user.name %></h5>
        <small class="col-lg-10"><%= @message.body %></small>
    </div>
</div>